<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>solution</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_header.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_footer.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/other_common_head.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/banner.css">
	<link rel="stylesheet" type="text/css" href="../../styles/solution/solution.css">
</head>
<body>
	<div class="header_bar">
	<ul>
		<li><a href="/">首页</a></li>
		<li class="line"></li>
		<li><a href="#">联系我们&nbsp;<span>0755-8886500</span></a></li>
	</ul>
</div>


	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common.css">
<header>
	<div class="left_logo">
		<img src="../../images/image/logo.png">
	</div>
	<ul>
		<li>
			<a href="../about/aboutus.html">
				<p>关于我们</p>
				<p>About us</p>
			</a>
		</li>
		<li>
			<a href="../solution/solution.html">
				<p>解决方案</p>
				<p>Solution</p>
			</a>
		</li>
		<li>
			<a href="../product/product.html">
				<p>产品中心</p>
				<p>Product</p>
			</a>
		</li>
		<li>
			<a href="../success/success.html">
				<p>成功案例</p>
				<p>Success</p>
			</a>
		</li>
		<li>
			<a href="../news/news.html">
				<p>新闻中心</p>
				<p>News</p>
			</a>
		</li>
	</ul>
</header>

<script src="../../jsfiles/common/common.js"></script>

	<div class="banner">
	<div class="banner_div">
		<img src="../../images/upload/banner_a.jpg" style="left: 0;">
		<img src="../../images/upload/banner.jpg" style="left: 0;">
	</div>
</div>
<div class="dots">
	<ul>
		<li></li>
		<li></li>
	</ul>
</div>

	<div class="main_content">
		<div class="content_head">
			<ul>
				<li><a href="#">公司新闻</a></li>
				<li><a href="#">行业新闻</a></li>
			</ul>
		</div>
		<div class="content_body">
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
			<div class="content_item clearfix">
				<div class="item_left">
					.<img src="../../images/image/pic2.png">
				</div>
				<div class="item_right clearfix">
					<h4>园区手机一卡通<span>[2015-10-18]</span></h4>
					<p>概要： 智慧校园一卡通是在原有数字化校园一卡通应用的基础上，运用云计算、物联网等新兴信息技术和新的业务模式打造的新一代智慧 校园信息化系统;智慧校园一卡通是全新一代的面向服务的一卡通系统，极大地满足了智慧校园面向服务的需求，使得应用更加人性化、智 能化、多样化。智慧校园一卡通是智慧校园的基...</p>
					<a href="#">+ 查看详情</a>
				</div>
			</div>
		</div>
		<ul class=" liList clearfix">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">下一页</a></li>
			<li><a href="#">尾页</a></li>
		</ul>
	</div>

	<footer>
	<p>版权所有 &copy; 2011-2015 深圳市康索特软件有限公司 粤ICP备12002669号 </p>
</footer>

	<script src="../../jsfiles/aboutjsfiles/about.js"></script>
</body>
</html>