<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>news</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_header.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_footer.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/other_common_head.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/banner.css">
	<link rel="stylesheet" type="text/css" href="../../styles/news/news.css">
</head>
<body>
	@@include('../common_files/common_header.html')

	@@include('../common_files/other_common_head.html')

	@@include('../common_files/banner.html')

	<div class="main_content">
		<div class="content_head">
			<ul class="clearfix">
				<li><a href="#">公司新闻</a></li>
				<li><a href="#">行业新闻</a></li>
			</ul>
		</div>
		<div class="content_item clearfix">
			<ul>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
				<li><a href="#">>>&nbsp;2015-12-24新开普＆郑州升达学院签订校企合作战略协议<span>2015/12/16</span></a></li>
			</ul>
		</div>
		<ul class="liList clearfix">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">下一页</a></li>
			<li><a href="#">尾页</a></li>
		</ul>
	</div>

	@@include('../common_files/common_footer.html')

	<script src="../../jsfiles/aboutjsfiles/about.js"></script>
</body>
</html>