.banner {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.banner .banner_div {
  height: 305px;
  width: 2400px;
  position: relative;
}

.banner .banner_div img {
  width: 1200px;
  height: inherit;
  float: left;
  position: relative;
}

.dots {
  position: relative;
  overflow: hidden;
  float: right;
  right: 220px;
  top: -30px;
}

.dots ul {
  list-style: none;
  overflow: hidden;
}

.dots ul li {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 112, 0.6);
  cursor: pointer;
}
