.main_content {
  width: 90%;
  margin: 50px 5% 40px 5%;
}

.main_content .content_head {
  border-bottom: 2px solid #ccc;
}

.main_content .content_head ul {
  list-style: none;
  overflow: hidden;
}

.main_content .content_head ul li {
  width: 92px;
  height: 24px;
  float: left;
  margin-right: 20px;
  padding-bottom: 6px;
  text-align: center;
}

.main_content .content_head ul li a {
  text-decoration: none;
  color: #000;
}

.main_content .content_head ul li:hover {
  border-bottom: 2px solid #005BAB;
}

.main_content .content_head ul li:hover a {
  color: #005BAB;
}

.main_content .content_body .content_item {
  margin-top: 20px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
}

.main_content .content_body .content_item .item_left {
  width: 235px;
  height: 155px;
  float: left;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
}

.main_content .content_body .content_item .item_right {
  width: 74%;
  float: right;
}

.main_content .content_body .content_item .item_right h4 span {
  color: #888;
  font-size: 14px;
  float: right;
}

.main_content .content_body .content_item .item_right p {
  font-size: 14px;
  color: #555;
  text-indent: 30px;
  height: 85px;
  line-height: 25px;
}

.main_content .content_body .content_item .item_right a {
  border: 1px solid #005BAB;
  color: #005BAB;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
}

.main_content .liList {
  list-style: none;
  width: 37%;
  margin: auto;
  margin-top: 50px;
}

.main_content .liList li {
  width: 60px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

.main_content .liList li a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
}

.main_content .liList li:hover {
  background-color: #005BAB;
}

.main_content .liList li:hover a {
  color: #fff;
}
