.content_body {
	margin: 30px 3% 40px 3%;
	.content_head_list {
		.list {
			width: 238px;
			height: 185px;
			float: left;
			margin-right: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ccc;
			cursor: pointer;
			p {
				color: #333;
			}
			&:hover {
				background-color: #005BAB;
				p {
					color: #fff;
				}
			}
		}
	}
	.item_list {
		margin-top: 30px;
		ul {
			list-style: none;
			li {
				text-align: centere;
				width: 298px;
				height: 245px;
				float: left;
				border: 1px solid #ccc;
				img {
					width: 298px;
					height: 195px;
				}
				p {
					text-align: center;
				}
			}
		}
	}

	.listUl {
		list-style: none;
		width: 37%;
		margin: auto;
		margin-top: 50px;
		li {
			width: 60px;
			height: 30px;
			line-height: 30px;
			float: left;
			margin-right: 10px;
			text-align: center;
			a {
				display: inline-block;
				width: 50px;
				text-decoration: none;
			}
			&:hover {
				background-color: #005BAB;
				a {
					color: #fff;
				}
			}
		}
	}
}