<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>aboutUs</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_header.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_footer.css">
	<link rel="stylesheet" type="text/css" href="../../styles/about/aboutus.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/banner.css">
</head>
<body>
	@@include('../common_files/common_header.html')

	<header>
		<div class="left_logo">
			<img src="../../images/image/logo.png">
		</div>
		<ul>
			<li>
				<a href="#">
					<img src="../../images/image/icon9.png">
					<p>我想...<span>I Want</span></p>
					<img src="../../images/image/icon10.png">
				</a>
			</li>
			<li>
				<a href="">
					<p>关于我们</p>
					<p>About us</p>
				</a>
			</li>
			<li>
				<a href="../solution/solution.html">
					<p>解决方案</p>
					<p>Solution</p>
				</a>
			</li>
			<li>
				<a href="../product/product.html">
					<p>产品中心</p>
					<p>Product</p>
				</a>
			</li>
			<li>
				<a href="../success/success.html">
					<p>成功案例</p>
					<p>Success</p>
				</a>
			</li>
			<li>
				<a href="../news/news.html">
					<p>新闻中心</p>
					<p>News</p>
				</a>
			</li>
		</ul>
	</header>
	@@include('../common_files/banner.html')

	<div class="main_content">
		<div class="content_list clearfix">
			<ul class="clearfix">
				<li><a href="#">公司简介</a></li>
				<li><a href="#">资质证书</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">人才招聘</a></li>
			</ul>
		</div>
		<div class="content_items">
			<p>深圳市康索特软件有限公司是一家立足电信行业，以电信软件及相关配套设备开发、生产、销售和服务为主营业务的企业，是国内领先的支付与物联网应用解决方案提供商。</p>
			<p>深康索特成立至今，一直致力于电信领域业务软件的研究与开发。近年来，我们把握物联网发展的契机，致力于手机一卡通产品的研发与创新，提供专业的手机一卡通端到端解决方案，配合上强大的售前、售中和售后支撑团队，为电信运营商提供全方位的优质服务。公司先后通过了ISO9001质量管理体系认证，软件企业认证、国家高新技术企业认证、CMMI3认证和计算机系统集成三级资质认证。公司所有业务软件产品都拥有自主知识产权，均获得了计算机软件著作权登记证书及软件产品登记证书。</p>
			<p>康索特总部位于深圳，在北京、石家庄、太原、郑州、南京、杭州、长沙、武汉、成都、昆明、南宁等省会城市都设立有分支机构，服务网络涵盖全国各地。</p>
			<p>深康索特与电信运营商在多个领域展开紧密合作，包括业务咨询、业务运营和系统集成开发等方面。我们的宗旨是：以产品为优势、以服务为导向，为电信运营商提供“交钥匙工程”式的服务，力助我们的合作伙伴在激烈的行业客户市场争夺战中取得优势。</p>
		</div>
	</div>

	@@include('../common_files/common_footer.html')

	<script src="../../jsfiles/aboutjsfiles/about.js"></script>
	<script src="../../jsfiles/aboutjsfiles/aboutus.js"></script>
</body>
</html>