<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>product</title>
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_header.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/common_footer.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/other_common_head.css">
	<link rel="stylesheet" type="text/css" href="../../styles/common_styles/banner.css">
	<link rel="stylesheet" type="text/css" href="../../styles/product/product.css">
</head>
<body>
	@@include('../common_files/common_header.html')

	@@include('../common_files/other_common_head.html')

	@@include('../common_files/banner.html')

	<div class="content_body">
		<div class="content_head_list clearfix">
			<div class="list">
				<p>第一个版块</p>
			</div>
			<div class="list">
				<p>第二个版块</p>
			</div>
			<div class="list">
				<p>第三个版块</p>
			</div>
			<div class="list">
				<p>第四个版块</p>
			</div>
			<div class="list">
				<p>第五个版块</p>
			</div>
		</div>
		<div class="item_list">
			<ul class="clearfix">
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
				<li>
					<img src="../../images/upload/pic9.jpg">
					<p>身份识别产品</p>
				</li>
			</ul>
		</div>
		<ul class=" listUl clearfix">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">下一页</a></li>
			<li><a href="#">尾页</a></li>
		</ul>
	</div>

	@@include('../common_files/common_footer.html')

	<script src="../../jsfiles/aboutjsfiles/about.js"></script>
</body>
</html>